.fill{
    background-color: green;
    color: #F7F7F7;
    border-radius: 50%;
    outline: none;
    border: none;
}

.padded-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #D6D9DC;
    
}

.padded-container input{
    border-radius:20px;
    width:85%;
    border: 1px solid green;
    outline:none;
}